[Desktop Entry]
Version=1.0
Name=Prusa Slicer
Exec=/home/jt/Prusa/prusa3d_slicer.AppImage
StartupNotify=true
Terminal=false
Icon=
Type=Application
Categories=Prusa;
MimeType=application/sla;
