[Interface]
PrivateKey = {{ client_private_key }}
Address = {{ client_address }}

[Peer]
# {{ name }}
PublicKey = {{ server_public_key }}
{% if server_shared_key is defined %}PresharedKey = {{ server_shared_key }}{% endif %}
AllowedIPs = {{ server_allowed_ips }}
Endpoint = {{ server_endpoint }}
PersistentKeepalive = 25
